/**
 * All of the CSS for your Public-facing functionality should be
 * included in this file.
 */
 

/* CODE SNIPPET CSS */
.code {
  background-color: #010f00 !important;
  padding: 3px;
  border-radius: 10px;
}

.code .code-header {
 height: 40px;
  border-bottom: 1px solid #1e1e1e;
  position: static;
  top: 0%;
  width: 100%;
}

.code .code-header .tab .tab-list li {
  display: inline;
  padding: 5px;
}

.code .code-header .tab .tab-list li span {
  background-color: transparent;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2px #fff;
  box-shadow: 0px 0px 2px #fff;
  cursor: pointer;
}

.code .code-header .tab .tab-list li span:hover {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}

.code-content {
  margin-top: 5px;
  width: 100%;
  height: 100%;
}

.code .code-footer {
  position: static;
  margin-top: 10px;
  margin-bottom: 0px;
}

/*Override prettify design*/
pre,
code {
  white-space: pre;
  border: 0 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent !important;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
  counter-reset: linenumber;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  background-color: transparent;
  list-style-type: decimal;
}

ol.linenums li {
  list-style-type: none;
  counter-increment: linenumber;
}

ol.linenums li:before {
  content: counter(linenumber);
  float: left;
  margin-left: -2em;
  text-align: right;
  width: 2em;
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background-color: transparent !important;
}

textarea.copy-textarea {
  position: absolute;
  left: -100%;
}

/* END OF CODE SNIPPET CSS */ 


/*SHADOW*/
.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

/*CODE BOX */

.code-box-title{
  color: #70da4d !important;
}

/* cbnavbar */
.topnav {
  overflow: hidden !important;
      display: flex;
    justify-content: space-between;
}
.footer {
  padding: 5px !important;
  box-shadow: 0px 0px 3px #b2b2b2;
  left: 0 !important;
  bottom: 0 !important;
  background-color: #2d2d2d !important;
  color: white !important;
  text-align: center !important;

}
.cb_youtube_tutorial{
  display: none !important;
}
@media screen and (max-width: 400px){
.cbnavbar-img {
  display: none;
}
a.navlink{
  font-size: 12px !important;
}
.cb_vid_section{
  display: none;
}
.cb_youtube_tutorial {
  display: block !important;
}

}


/* Style the links inside the navigation bar */
.topnav a.navlink {
  color: #000 !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important; 
  font-size: 15px ;
  margin-right: 5px;
  background-color: #e4e4e4;
  align-self: center;
}
.cbnavbar-img {
align-self: center !important;
color: #ff0000 !important;
}
/* Change the color of links on hover */
.topnav a.navlink:hover {
  background-color: #ff0000 !important;
  color: #fff !important;
}

/* Add a color to the active/current link */

.cbnavbar {
      box-shadow: 0px 0px 3px #b2b2b2 !important;
    padding: 5px !important;
}

.nav-link-house{
    align-self: center;
        align-self: center;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
}


/*END OF cbnavbar */

.select:not(.is-multiple):not(.is-loading)::after {
   content: none !important;
}
a {
  text-decoration: none !important;
}

#cb_msg_notice_area {
  font-weight: bold !important;
 text-align: center !important;
  
}
#cb_msg_notice_area_dismiss {
    color: #FFFFFF !important;
    cursor: pointer !important;
}