/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 

textarea.copy-textarea {
  position: absolute;
  left: -100%;
}


/* END OF CODE SNIPPET CSS */ 


/*SHADOW*/
.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

/*CODE BOX */

.code-box-title{
  color: #70da4d !important;
}

/* cbnavbar */
.topnav {
  overflow: hidden !important;
      display: flex;
      justify-content: space-evenly !important;
}
.footer {
  padding: 5px !important;
  box-shadow: 0px 0px 3px #b2b2b2;
  left: 0 !important;
  bottom: 0 !important;
  background-color: #2d2d2d !important;
  color: white !important;
  text-align: center !important;

}
.cb_youtube_tutorial{
  display: none !important;
}
@media screen and (max-width: 400px){
a.navlink{
  font-size: 12px !important;
}
.cb_vid_section{
  display: none;
}
.cb_youtube_tutorial {
  display: block !important;
}

}


/* Style the links inside the navigation bar */
.topnav a.navlink {
  color: #000 !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important; 
  font-size: 15px ;
  margin-right: 5px;
  background-color: #ebfffc;
  align-self: center;
  border-radius:20px;
}
/* Change the color of links on hover */
.topnav a.navlink:hover {
  background-color: #00d1b7;
  color: #fff !important;
  background-position: right !important;
}
.topnav a.navlink:focus{
  border-color: transparent;
  color: #fff;
  background:#00d1b7 !important;
}

/* Add a color to the active/current link */

.cbnavbar {
      box-shadow: 0px 0px 3px #b2b2b2 !important;
    padding: 5px !important;
    background-color: #fff;
}

.nav-link-house{
    align-self: center;
        align-self: center;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
}


/*END OF cbnavbar */

.select:not(.is-multiple):not(.is-loading)::after {
   content: none !important;
}
a {
  text-decoration: none !important;
}

#cb_msg_notice_area {
  font-weight: bold !important;
 text-align: center !important;
  
}
#cb_msg_notice_area_dismiss {
    color: #FFFFFF !important;
    cursor: pointer !important;
}

/*TABLE*/
.cb-table td {
  vertical-align: middle imp !important;
}
/*preview btn*/
.cb-preview-btn{
  right: 0.5rem;
    position: absolute;
    float: right;
    border: 0px;
    color: #ff1000;
    background-color: #ddd;
    border-radius: 50%;
    text-decoration:none !important;
}

.block-insert-form{
  padding:1rem !important;
}
.cb-get-started-circles{
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
}